::ng-deep .cdk-virtual-scroll-content-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}

.viewport {
  height: 300px;
  overflow: hidden;
  border: 1px solid black;
  box-sizing: border-box;
}

.slide {
  cursor: pointer;
  user-select: none;
  position: relative;
  display: grid;
  align-self: normal;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  border-right: 1px solid black;
  box-sizing: border-box;
}

.carousel-container:focus {
  outline: none;
}

:host {
  display: block;
  background-color: white;
}

.buttons {
  grid-template-columns: auto auto;
  display: grid;
}
